<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<!-- <li><a href="/about">About</a></li> -->
	        		<li><a href="/content/20190610_CV.pdf">CV</a></li>
				<li><a href="/content/cv_page.html">CV Page</a></li>
	        		<!-- <li><a href="/blog">Blog</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:josephcmays@gmail.com">email</a></li>
	        		<li><a href="https://github.com/joeymays">github.com/joeymays</a></li>
				</ul>
			</footer>
		</body>
	</html>
